@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  color: #767676;
}
.custom-gray {
  color: #767676;
  font-size: 22px;
  font-weight: 600;
}